<nav>
  <ul>
    <li>about</li>
    <li>contact</li>
    <li>faq</li>
  </ul>
</nav>
<div class="home-cont">
<h1>Welcome to weatherby</h1>
  <form action="">
    <input type="text" placeholder="name"><br>
    <input type="text" placeholder="username"><br>
    <input type="text" placeholder="email"><br>
    <input type="password" placeholder="password"><br>
  </form>
  <div class="buttons">
  <button class="btn-sign btn">sign up</button> |
  <button class="btn-log btn">log in</button>  
  </div>
</div>