nav{
    height: auto;
    width: 100%;
    border-bottom: 1px solid rgb(141, 152, 243);
}
nav ul{
    display: flex;
    list-style-type: none;
    font-family: Arial, Helvetica, sans-serif;
    
}

nav ul li{
    text-decoration: none;
    color: rgb(141, 152, 243);
    padding-left: .5em;
}
nav ul li:hover{
text-decoration: underline;
cursor: pointer;
}

.home-cont{
    position: absolute;
    top: 10em;
    left: 12em;
}

h1{
    font-family: 'raleway';
    color: rgb(141, 152, 243);
}

input{
    margin-top: .5em;
    width: 25em;
    border-radius: .3em;
    border: 1px solid rgb(141, 152, 243);
    font-size: 1.1em;
    color: rgb(141, 152, 243);
    outline: none;
}

.btn{
    font-size: 1.1em;
    margin-top: 1.1em;
    transition: 1s;
}

.btn-log{
    background-color: white;
    color: rgb(141, 152, 243);
    border: 1px solid rgb(141, 152, 243);
    border-radius: .3em;
    

}

.btn-sign{
    background-color: rgb(141, 152, 243);
    color: white;
    border-radius: .3em;
    border: none;
}

.btn:hover{
    box-shadow: 0px 10px 8px #888888;
}